data_path:
  base: ['bank', 'data']  # this way it can be used also in DOS systems
  real: 'real'
  generated: 'generated'
  datasets: 'datasets'
ml:  # put everything related to machine learning here: dataset size, ratio between train and test, learning rate ...
  val_nb: 300
  test_nb: 300
image_formats: ['jpeg', 'jpg']
prompt:
  base: ["Sandra Oh", "Kim Kardashian", "rihanna ", "taylor swift"]
  quality: "showing emotion, great realistic face, best quality, extremely detailed,"
  modifier: "Happy man smiling"
  negative: [
    "monochrome, lowres, bad anatomy, worst quality, low quality, cartoon, unrealistic, bad proportion,",
    "distortion, bad quality, lowres, cropped, bad focus, blurry, ad compression, bad artifact,",
    "bad pixel, deformed iris, deformed pupils, semi-realistic, cgi, 3d, render, sketch, drawing, anime:1.4),",
    "close up, cropped, out of frame, jpeg artifacts, ugly, duplicate, morbid, mutilated,",
    "extra fingers, mutated hands, poorly drawn hands, poorly drawn face, mutation, deformed, blurry, dehydrated,",
    "extra limbs, cloned face, disfigured, gross proportions, malformed limbs, missing arms, missing legs,",
    "extra arms, extra legs, fused fingers, too many fingers, long neck, no cars, no people, illustration, painting,",
    "drawing, art, sketch, anime, deformation, distorsion"
  ]
  negative_simple: "monochrome, lowres, bad anatomy, worst quality, low quality, cartoon, unrealistic, bad proportion, disfigured, mutation, deformed mouth, deformed eyes, unnatural teeth, unnatural eyes, unnatural mouth, unnatural face, unnatural face expression, not human"
model:
  sd: runwayml/stable-diffusion-v1-5
  cn_use: lllyasviel_canny
  cn:
    # Canny
    - lllyasviel_canny: lllyasviel/sd-controlnet-canny
    - lllyasviel_scribble_canny: lllyasviel/sd-controlnet-scribble

    # OpenPose
    - lllyasviel_openpose: lllyasviel/sd-controlnet-openpose
    - fusing_openpose: fusing/stable-diffusion-v1-5-controlnet-openpose
    - frankjoshua_openpose: frankjoshua/control_v11p_sd15_openpose

    # MediaPipeFace
    - crucible_mediapipe_face: CrucibleAI/ControlNetMediaPipeFace

    # Coming Soon !
    # - depth: lllyasviel/sd-controlnet-depth
    # - hed: lllyasviel/sd-controlnet-hed
    # - normal: lllyasviel/sd-controlnet-normal
    # - scribble: lllyasviel/sd-controlnet-scribble
    # - segmentation: lllyasviel/sd-controlnet-seg
    # - mlsd: lllyasviel/sd-controlnet-mlsd

  cn_extra_settings:
    crucible_mediapipe_face:
      subfolder: diffusion_sd15
  seed: 34567
  device: cuda
iqa:
  device: cuda
  metrics: ['brisque', 'clipiqa+', 'dbcnn', 'ilniqe', 'niqe', nima]
